<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="sloppyzz@ncsoft">
    <title>#[[$Title$]]#</title>
</head>

<body>
    <a href="https://kr.vuejs.org/v2/guide/index.html#%EC%84%A0%EC%96%B8%EC%A0%81-%EB%A0%8C%EB%8D%94%EB%A7%81">선언적-렌더링</a>
    <div id="app">
        <div style="border: 1px solid coral; min-width: 100px; display: inline-block;">{{ xmessage }}</div>
        <input type="text" v-model="xmessage" />

        <p v-bind:title="showT" style="border: 1px solid coral;"><button v-on:click="chng">clear all!</button></p>
    </div>

    <script src="vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                xmessage: 'default text',
                showT: 'hover message in'+ new Date() +' ...'
            },
            methods: {
                chng: function() {
                    console.log('init');
                    // return {
                        this.xmessage = ''
                        // return안에 구문을 넣으니 에러남.
                    // }
                }
            }
        })
    </script>
</body>