<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="sloppyzz@ncsoft">
    <title>#[[$Title$]]#</title>
</head>

<body>
    <div id="app">
        <h1>Hello {{ yName }}</h1>

        <fieldset>
            <legend>enter yourname</legend>
            <input v-model='yName' />
        </fieldset>
    </div>
    <script src="vue.js"></script>
    <script>
        new Vue({
            data: {
                yName: 'me'
            }
        }).$mount('#app')
    </script>
</body>

</html>