<!-- ******************************************
*  Author : sloppyzz@ncsoft   
*  Created On : Thu Sep 27 2018
*  File : show-ex.html
******************************************* -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="sloppyzz@ncsoft">
    <title>#[[$Title$]]#</title>
</head>

<body>
    <div id="app">
        <div v-if="xgender === 'female' || xgender === 'male'">
            <h1>
                Hello,
                <span v-if="xgender === 'male'">Mister {{xname}}.</span>
                <span v-else-if="xgender === 'female'">Miss {{xname}}.</span>
            </h1>
        </div>

        <h1 v-else>input your info.</h1>

        <label for="gender">enter your gender</label>
        <input v-model="xgender" id="gender" />

        <label for="name">enter your name</label>
        <input v-model="xname" id="name" />

        <pre>
{{ $data}}
        </pre>
    </div>
    <script src="vue.js"></script>
    <script>
        new Vue({
            data: {
                xgender: '',
                xname: ''
            }
        }).$mount('#app');
    </script>
</body>

</html>