<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="sloppyzz@ncsoft">
    <title>#[[$Title$]]#</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="xText" />

        <template v-if="!xText">
			no text
		</template>

        <!-- <template v-if="xText">
			text is.
		</template> -->
        <template v-else>
				text is.
			</template>
        <h1 v-show="!xText">no text</h1>

        <p>
            <button v-on:click="xClear">clear all!</button>
        </p>
    </div>

    <script src="vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                xText: 'default text'
            },
            methods: {
                xClear: function() {
                    console.log('x');
                    return {
                        xText: ''
                    }
                    // xText: ''
                }
            }
        });
    </script>
</body>