@charset "UTF-8";
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul {
  margin: 0;
  padding: 0
}

body,button,input,select,table,textarea {
  font-size: 12px;
  font-family: 'san francisco', AppleSDGothicNeo, Helvetica, Arial, sans-serif;
  font-weight:normal;
}

h1,h2,h3,h4,h5,h6,em{
  font-weight:normal;
}

fieldset,img {
  border: 0
}

ol,ul {
  list-style: none
}

address,em {
  font-style: normal
}

a {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

iframe {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0
}
button{
  border:0;
  background-color:transparent;
  cursor:pointer;
  outline:none;
}
button:focus{
  outline:none;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
