@charset "UTF-8";

@import './_reset.scss';
@import './_color.scss';

@mixin heading-tag{
  display: block;
  padding: 10px 15px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.3px;
  text-align: left;

}
