<!-- ******************************************
*  Author : sloppyzz@ncsoft   
*  Created On : Mon Sep 17 2018
*  File : bind.html
******************************************* -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="sloppyzz@ncsoft">
    <title>#[[$Title$]]#</title>
</head>

<body>
    <div id="app">
        <p>{{message}}</p>
        <p>{{message+'!!!'}}</p>
        <p>{{message.split('').reverse().join('')}}</p>
    </div>
    <script src="vue.js"></script>
    <script>
        new Vue({
            data: {
                message: 'hello World'
            }
        }).$mount('#app');
    </script>
</body>

</html>