<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Author">
    <title>#[[$Title$]]#</title>
    <script src="vue.js"></script>
</head>

<body>
    <h1>vue component</h1>

    <div id="app">
        <button>register component</button>

        <global-component-name></global-component-name>


        <div style="border: 1px solid coral; padding: 20px;">
            <local-component-name></local-component-name>
        </div>
    </div>

    <hr />

    <div id="app2" style="border: 1px solid green; padding: 10px;">
        <h1>sencond instance area</h1>
        <p>두번째 인스턴스 영역에서는 지역 컴포넌트 로드가 안됨</p>

        <global-component-name></global-component-name>


        <div style="border: 1px solid coral; padding: 20px;">
            <local-component-name></local-component-name>
        </div>
    </div>

    <script>
        // 전역 컴포넌트 등록
        Vue.component('global-component-name', {
            template: '<p>this is component sample!</p>'
        });

        var cmp = {
            // 지역 컴포넌트 컨텐츠
            data: function() {
                return {
                    xyz: 'xxyyzz'
                }
            },
            template: '<div>local component {{xyz}}</div>'
        }

        new Vue({
            el: '#app',
            data: {
                xmessage: 'xxxxx'
            },
            components: {
                'local-component-name': cmp
            }
        });

        new Vue({
            el: '#app2'
        })
    </script>
</body>

</html>