<!-- ******************************************
*  Author : sloppyzz@ncsoft   
*  Created On : Thu Sep 13 2018
*  File : component2.html
******************************************* -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="sloppyzz@ncsoft">
    <title>#[[$Title$]]#</title>
</head>

<body>
    <div id="app">
        <header>
            <h3>{{ message }}</h3>
        </header>

        <div style="border: 1px solid green; padding: 5px;">
            <component-global></component-global>
        </div>

        <hr />

        <div style="border: 1px solid coral; padding: 5px;">
            <component-local></component-local>
        </div>

    </div>


    <script src="vue.js"></script>
    <script src="app-component.js"></script>
</body>

</html>