<!DOCTYPE html>
<html>
<head>
<title></title>
<script src="vue.js"></script>
<style>
body {
  padding: 20px;
  font-family: Helvetica;
}

#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
	border: 1px solid coral;
}

li {
  margin: 8px 0;
}

h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

del {
  color: rgba(0, 0, 0, 0.3);
}
.test {
	border: 1px solid red;
}
</style>
</head>
<body>
	<h1><a href="https://joshua1988.github.io/web-development/vuejs/vuejs-tutorial-for-beginner/" target="_blank">component</a></h1>
	<div id="app">
		<h2>Todos:</h2>
		<ol>
			<li v-for="todo in todos">
			<label>
				<input type="checkbox"
				v-on:change="toggle(todo)"
				v-bind:checked="todo.done">
		
				<del v-if="todo.done">
				{{ todo.text }}
				</del>
				<span v-else>
				{{ todo.text }}
				</span>
			</label>
			</li>
		</ol>
		
		<div class="test">
				<h3>class test</h3>
				<component-test1></component-test1>
		</div>
	</div>

	<div class="app2" style="border: 1px solid green; margin: 20px;">
		<!-- el은 아이디/클래스 상관없이 동작 -->
		<h1>app2</h1>
		<p>{{ test }}</p>
	</div>

	<script>
	var xxx = 'xxx data';
	Vue.component('component-test1', {
		data: function() {
			return {
				//text: 'xxxx' 이걸 사용 하면 텍스트가 xxxx로 출력
				text: xxx // 상위 xxx변수의 값을 받아 텍스트 변수 안에 넣어줌
			}
		},
		template: '<h1>{{this.text}}</h1>'
	});

	new Vue({
	el: "#app",
	data: {
		todos: [
		{ text: "Learn JavaScript", done: false },
		{ text: "Learn Vue", done: false },
		{ text: "Play around in JSFiddle", done: true },
		{ text: "Build something awesome", done: true }
		]
	},
	methods: {
		toggle: function(todo){
			todo.done = !todo.done
		}
	}, 
	created() {
		console.log('created');
		
	},
	});

	new Vue({
		el: ".app2",
		data: {
			test: 'Hello World! app2'
		}
	})
	</script>
</body>
</html>
