<!-- 
    computed 속성은 데이터가 변경되지 않는 한 계산 값 캐싱 후 바로 반환.
    method 속성은 수행할 때마다 연산을 하기 때문에 별도의 캐싱을 하지 않음.
    watch computed속성과 유사하지만 간단한 연산 정도에 적합한 반면, watch 속성은 데이터 호출과 같이 상대적으로 시간이 더 소모되는 비동기 처리에 적합
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="sloppyzz@ncsoft">
    <title>#[[$Title$]]#</title>
</head>

<body>
    <div id="app">
        <h1>computed/method</h1>
        <ul>
            <li>{{ message }}</li>
            <li>{{ 'reverseMessage '+reverseMessage }}</li>
            <li>{{ 'reverseM '+reverseM }}</li>
        </ul>

        <button v-on:click="reverseMx">reverse</button>

        <input v-model="watchMsg" />

    </div>
    <script src="vue.js"></script>

    <script>
        new Vue({
            data: {
                message: 'hello World!',
                reverseM: 'reverseMreverseM',
                watchMsg: 'watch MEssage'
            },
            computed: {
                reverseMessage: function() {
                    return this.message.split('').reverse().join('');
                }
            },
            methods: {
                reverseMx: function() {
                    this.reverseM = this.reverseM.split('').reverse().join('');
                    return this.reverseM;
                }
            },
            watch: {
                watchMsg: function(data) {
                    console.log('message change : ' + data);
                }
            }
        }).$mount('#app');
    </script>
</body>

</html>