<!DOCTYPE html>
<html>
<head>
<title></title>
<script src="vue.js"></script>
</head>
<body>
	<h1>data binding</h1>

	<h3>Vue 가 DOM 기반 HTMl Template 에 Vue 데이터를 바인딩 하는 방법은 아래와 같이 크게 3가지가 있다.</h3>
	<ul>
		<li>Interpolation (값 대입)</li>
		<li>Binding Expressions (값 연결)</li>
		<li>Directives (디렉티브 사용)</li>
	</ul>
	
	<div id="app">
		<h2>interpolation</h2>
		<p>Vue 의 가장 기본적인 데이터 바인딩 체계는 Mustache {{ }} 를 따른다.</p>
		<div style="border:1px solid coral">
			<p>Message: {{ msg }}</p>
			<!-- <p>This will never change: {{* msg }}</p> -->
			<!-- <div :class="{{ xid }}">xxx</div> -->
		</div>

		<h2>Binding Expressions - 값 연결</h2>
		<p>”{{ }}” 를 이용한 데이터 바인딩을 할 때 자바스크립트 표현식을 사용할 수 있다.</p>
		<div style="border:1px solid coral">
			<div>{{ number + 1 }}</div>
			<div>{{ message.split('').reverse().join('') }}</div>
		</div>

		<h2>Directives</h2>
		<p>Vue 에서 제공하는 특별한 Attributes 이며 -v 의 prefix (접두사) 를 갖는다.</p>
		<p>자바스크립트 표현식, filter 모두 적용된다.</p>
		<div style="border:1px solid coral">
			<p v-if="login">Hello!</p>
			<!-- click = {{ doSomething }} 와 같은 역할 -->
			<a @click="doSomething">dosomething</a>
		</div>
	</div>

	<script>
	var app = new Vue({
		el: '#app',
		data: {
			msg: 'data binding message',
			message: 'data binding message for split',
			xid: 'xxx',
			number: 10,
		},
		methods: {
			doSomething: function() {
				alert('dosomething!');
			}
		}
	});
	</script>
</body>
</html>
