<!DOCTYPE html>
<!--
@File   : lifecycle.html
@Author :  ({__email})
@Link   : 
@Date   : 9/12/2018, 3:51:37 PM
-->
<html>
<head>
<title></title>
<script src="vue.js"></script>
</head>
<body>
	<h1>life cycle</h1>

	<div id="app">
		{{message}}
	</div>

	<script>
		new Vue({
			el: '#app',
			data: {
				message: 'vue instence lifecycle'
			},
			beforeCreate() {
				console.log('beforeCreate');
			},
			created() {
				console.log('created');
			},
			mounted() {
				console.log('mounted');
				this.message = 'mounted message';
			},
			updated() {
				console.log('updated');
			},
		});
	</script>
</body>
</html>
