<!DOCTYPE html>
<html>
<head>
<title></title>
<script src="vue.js"></script>
</head>
<body>
	<h1><a href="https://joshua1988.github.io/web-development/vuejs/vuejs-tutorial-for-beginner/" target="_blank">prop</a></h1>
	<!-- 상위 컴포넌트 -->
	<div id="app">
		<!-- 하위 컴포넌트에 상위 컴포넌트가 갖고 있는 message 를 전달함 -->
		<child-component v-bind:passed-data="message"></child-component>

		<ol>
			<li>passed-data[passedData]</li>
			<li>주의 할점 : js 에서 props 변수 명명을 카멜 기법(aBow)으로 하면 html 에서 접근은 케밥 기법(-) 으로 가야한다.</li>
		</ol>
	</div>

	<script>
	// 하위 컴포넌트 - 아래 상위 컴포넌트의 data 의 message 를 passedData 에 넘겨받음
	Vue.component('child-component', {
		props: ['passedData'],
		template: '<p>{{ passedData }}</p>'
	});

	// 상위 컴포넌트
	var app = new Vue({
		el: '#app',
		data: {
			message: 'Hello Vue! from Parent Component',
		}
	});
	</script>
</body>
</html>
