<!-- 
    나중에 좀더 파보자

    https://kr.vuejs.org/v2/guide/reactivity.html#Declaring-Reactive-Properties
    https://forum.vuejs.org/t/list-json-objects-from-url/4122/2
    https://www.google.co.kr/search?q=vuejs+get+json+list+render+list&rlz=1C1CHZL_koKR750KR750&oq=vuejs+get+json+list+render+list&aqs=chrome..69i57.16889j0j7&sourceid=chrome&ie=UTF-8


 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="sloppyzz@ncsoft">
    <title>#[[$Title$]]#</title>
</head>

<body>
    <div id="app">
        <h1>vue resource_test</h1>

        <button v-on:click="getData">get list</button>

        <ol>
            <component-test1></component-test1>
        </ol>
    </div>
    <script src="vue.js"></script>
    <!-- <script src="resource.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>

    <script>
    var xdata;
    var dtext = 'dummy text';
    Vue.component('component-test1', {
		data: function() {
			return {
				//text: 'xxxx' 이걸 사용 하면 텍스트가 xxxx로 출력
				rest: dtext // 상위 xxx변수의 값을 받아 텍스트 변수 안에 넣어줌
			}
		},
        // template: '<li>{{this.rest}}</li>'
        template: '<li v-for="node in xdata">{{this.xdata}}</li>'
	});

    new Vue({
        data: {
            xxdata: ''
        },
        methods: {
            getData: function() {
                // this.$http.get('https://gist.githubusercontent.com/sloppyzz/54153df1b435d1b52ffc2217c56d7f28/raw/862af4c642bbf9c7274e09af1f823366830eae42/extensions.json')
                this.$http.get('https://raw.githubusercontent.com/joshua1988/doit-vuejs/master/data/demo.json')
                .then(function(res) {
                    console.log(res);
                    xdata = JSON.parse(res.data);
                    this.xxdata = xdata;
                    console.log(xdata);
                    // return xdata;
                });
            }
        }
    }).$mount('#app');
    </script>
</body>

</html>