<template>
	<div>
		<span>
			<button>{{ message }}</button>
		</span>
	</div>
</template>

<script>
export default {
	data: {
		message: 'hello World;'
	}
}
</script>

<style scoped>
span {
	font-size: 1.2em;
}
</style>
