<template>
  <section class="add_wrap">
    <common-header></common-header>
    <add-temp></add-temp>
  </section>
</template>

<script>

  // UI Components Import
  import Header from '@/pages/components/Header'
  import AddTemp from '@/pages/admin/components/add_input'

  export default {

    components : {
      'common-header': Header,
      'add-temp' : AddTemp
    },

  }
</script>


