<template>
  <section class="admin_main">
    <common-header></common-header>
    <div v-if="isAdmin">
      <h1>관리자 메뉴</h1>
      <filter-main></filter-main>
      <uploaded-list></uploaded-list>
    </div>
    <div class="btn_area">
      <button type="button" class="res_add" @click="$router.push('/admin/add')">식당 등록</button>
    </div>
  </section>
</template>

<script>
import { adminConfirm } from '@/mixin/adminConfirm'
import Header from '@/pages/components/Header'

import UploadedList from '@/pages/admin/UploadedList'
import FilterMain from '@/pages/components/FilterMain'

export default {
  mixins : [
    adminConfirm
  ],

  components : {
    'common-header': Header,
    'uploaded-list' : UploadedList,
    'filter-main' : FilterMain
  }
}
</script>

<style lang="scss" scoped>
  .admin_main{
    .header{
      position:relative;
    }
  }
  .btn_area{
    .res_add{
      position: fixed;
      z-index : 999999;
      bottom:0;
      background-color:$MAIN_COLOR;
      width:100%;
      height:50px;
      color:#fff;
      font-weight: bold;
      font-size: 16px;
      line-height:50px;
      text-align: center;
    }
  }

  h1{
    @include heading-tag;
  }
  ul{
    margin-top:10px;
    a{
      font-size: 15px;
      text-decoration: underline
    }
  }
</style>

