<template>
  <div class="uploaded_content">
    <div  class="main_list">
      <ul class="lst_res" v-if="oList.length > 0">
        <li v-for=" (res) in oList" :key="res.id">
          <div class="res_info">
            <div class="img_area">
              <span v-for="image in res.data.list_image" :key="image.id" class="img">
                <!--<img :src="image.convert_url" alt="">-->
                 <img v-lazy="image.convert_url" alt="">
              </span>
            </div>
            <span class="row name">
              식당 이름 : {{res.data.name}}
            </span>
            <span class="row city">
              도시 : {{res.data.city}}
            </span>
            <span class="row addess">
              식당 주소 : {{res.data.address}}
            </span>
            <span class="row desc">
              식당 설명 : {{res.data.description}}
            </span>
            <span class="row map">
              식당 지도 : <a :href="res.data.map_url" target="_blank">{{res.data.map_url}}</a>
            </span>
            <span class="row tags">
              식당 도시 태그 :
              <span v-for="(h, key) in res.data.tags_city" :key="h.id" class="tag">{{ key }}</span>
            </span>
            <span class="row tags">
              음식 종류 태그 :
              <span v-for="(h, key) in res.data.tags_kind" :key="h.id" class="tag">{{ key }}</span>
            </span>
            <span class="row rating">
              점수 : {{ res.data.rating }}
            </span>
            <span>
              등록 일자 : {{ res.data.create_time | convertTime }}
            </span>
            <div class="btn_func">
              <router-link :to="{ name : 'Admin_Edit', params: { res_pk: res.pk } }" class="edit_res">식당 정보 수정</router-link>
              <button type="button" class="removeResInfo" @click="removeResInfo( res.pk, res.data.tags_kind, res.data.tags_city )">식당 삭제</button>
            </div>
          </div>
        </li>
      </ul>
      <!--<div v-else>-->
        <!--<p>불러올 도시를 선택해 주세요.</p>-->
      <!--</div>-->
    </div>
    <!--<div v-if="isLoading" class="loading">-->
      <!--<span class="cell">-->
        <!--<img src="/static/img/image_loading.gif" width="100" alt="">-->
        <!--<span class="txt">로딩중...</span>-->
      <!--</span>-->
    <!--</div>-->
  </div>
</template>

<script>
  import { db } from '@/config/firebaseInit'
  import { adminConfirm } from '@/mixin/adminConfirm'
  import { EventBus } from '@/store/eventBus'

  import Restaurant from '@/model/Restaurants'
  import Tags from '@/model/Tags'

  export default {
    name : 'UploadedList',

    data () {
      return {
        oList : [],
        isLoading : true
      }
    },

    filters : {
      convertTime ( time ) {
        return new Date( time ).toLocaleString();
      }
    },

    beforeMount () {
      this.init();
    },

    mounted () {
      EventBus.$on('filterResult', (doc)=>{
        this.oList = doc;
      })
    },

    methods : {
      init (){
        db.collection("restaurants").orderBy('create_time', 'desc').limit(10).get().then((querySnapshot) => {
          this.isLoading = false;
          querySnapshot.forEach((doc) => {
            this.oList.push( { "pk" : doc.id , "data" : doc.data() });
          });
        }).catch( error => {
          console.log( error );
        });
      },

      removeResInfo ( pk, tags_kind, tags_city ) {
        let resRef = new Restaurant();
        let tagRef = new Tags();

        let removeConfirm = confirm("해당 정보 삭제할까요? 삭제 후 복구는 불가능합니다.");

        if (removeConfirm) {

          Promise.all([
            tagRef.deleteTag(tags_city, 'tags_city', pk),
            tagRef.deleteTag(tags_kind, 'tags_kind', pk),
          ]).then(() => {
            return Promise.all([
              tagRef.deleteEmptyTag('tags_city'),
              tagRef.deleteEmptyTag('tags_kind'),
            ])
          }).then(() => {
            return resRef.deleteRestaurant(pk);
          }).then(() => {
            console.log('식당 정보 삭제 성공');
            window.location.href = '/admin';
          }).catch(error=>{
            alert(error);
          })
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .uploaded_content {
    padding-bottom: 50px;
  }

  ul.lst_res {
    list-style-type: none;
    padding: 0 10px 20px;

    li {
      display:block;
      margin-top:10px;
      border:1px solid;
      border-color: $MAIN_COLOR;
      background-color: #fff;

      span{
        display:block;
        margin-top:5px;
      }
      .res_info{
        position:relative;
        padding: 10px 10px 20px;

        .btn_func{
          overflow: hidden;
          position:relative;
          width:100%;
          margin: 10px 0 -10px;
          height: 35px;
          > a, button{
            float: left;
            display:inline-block;
            width:50%;
            line-height:35px;
            text-align: center;
            color:#fff;
            font-weight: bold;
            &:hover{
              text-decoration: underline;
            }
          }
          .edit_res{
            background-color:#e4920f;
          }
          .removeResInfo{
            background-color: #7a1512;
          }
        }

      }

      .img_area{
        overflow: hidden;
        .img{
          position: relative;
          float: left;
          display:inline-block;
          margin-left: 5px;
          border:1px solid rgba(0,0,0,.5);
          width:150px;
          min-height:150px;
          font-size: 0;
          vertical-align: top;
          img{
            display:inline-block;
            width:150px;
            vertical-align: top;
            font-size: 0;
          }
        }
      }
      .map{
        a{
          display:block;
          white-space: normal;
          word-break: break-all;
        }
      }
      .tags{
        .tag{
          display:inline-block;
          margin-right:5px;
          &:before{
            content:'#';
            display:inline-block;
          }
        }
      }

    }
  }

  .loading{
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    display:table;
    .cell{
      display:table-cell;
      width:100%;
      text-align:center;
      vertical-align: middle;
      img{
        display:block;
        margin: 0 auto;
      }
      .txt{
        font-size: 18px;
      }
    }
  }

</style>
