<template>
  <div class="add_template">
    <div class="dimmed" v-if="isUploading">
      <div class="center_table">
        <p> 식당 정보를 업로드하고 있습니다. <br> 잠시만 기다려 주세요.</p>
      </div>
    </div>
    <div class="add_content">
      <h2>맛집 등록</h2>
      <div class="add_form_wrap" v-if="isAdmin">
        <form accept-charset="utf-8">
          <fieldset>
            <label>이미지 업로드</label>
            <image-upload :imageRow="formData.list_image" v-on:addImageRow="addImageRow" v-on:resetImageRow="resetImageRow" v-on:removeRow="removeRow" v-on:convertURL="convertURL"></image-upload>
          </fieldset>
          <fieldset>
            <label for="input_city">도시 선택 </label>
            <select id="input_city" v-model="formData.city">
              <option value="" disabled selected>도시를 선택해 주세요.</option>
              <option v-for="city in cities" :key="city.id" :value="city.value">
                {{ city.text }}
              </option>
            </select>
          </fieldset>
          <fieldset>
            <label for="input_name">식당 이름 ( 한글 )</label>
            <input name="res_name" type="text" id="input_name" v-model.trim="formData.name" />
          </fieldset>
          <fieldset>
            <label for="input_name">식당 이름 ( 외국어 )</label>
            <input name="res_name" type="text" id="input_foreign_name" v-model.trim="formData.foreign_name" />
          </fieldset>
          <fieldset>
            <label for="input_address">식당 주소</label>
            <input name="res_address" type="text" id="input_address" v-model.trim="formData.address" />
          </fieldset>
          <fieldset>
            <label for="input_tag_city">지역 태그 ( ex. #하라주쿠 #잠실 )</label>
            <input name="res_tag" type="text" id="input_tag_city" @change="setCityHashTag" />
            <div class="register_tag" v-if="!isEmpty(formData.tags_city)">
              <em>등록되어 있는 지역 위치 태그</em>
              <button type="button" v-model="formData.tags_city" v-for="(value, key) in formData.tags_city" @click.stop="removeTag('tags_city', key, pk)">{{key}}</button>
            </div>
          </fieldset>
          <fieldset>
            <label for="input_desc">식당 설명</label>
            <textarea name="res_desc" id="input_desc" cols="30" rows="10" maxlength="600" v-model="formData.description"></textarea>
          </fieldset>
          <fieldset>
            <label for="input_map">식당 지도 URL</label>
            <input name="res_map" type="text" id="input_map" v-model.trim="formData.map_url" />
          </fieldset>
          <fieldset>
            <label for="input_tag">식당 태그 ( ex. #소고기 #스시 )</label>
            <input name="res_tag" type="text" id="input_tag" @change="setKindHashTag" />
            <div class="register_tag" v-if="!isEmpty(formData.tags_kind)">
              <em>등록되어 있는 음식 종류 태그</em>
              <button type="button" v-model="formData.tags_kind" v-for="(value, key) in formData.tags_kind" @click.stop="removeTag('tags_kind', key, pk)">{{key}}</button>
            </div>
          </fieldset>
          <fieldset>
            <label for="input_rating">식당 평점</label>
            <select id="input_rating" v-model.number="formData.rating">
              <option value="평점 선택" disabled selected>평점을 선택해 주세요.</option>
              <option :value="5" >5점 - 대박. 완전감동. 무조건 가야돼!</option>
              <option :value="4" >4점 - 가성비 굿. 가심비 굿.</option>
              <option :value="3" >3점 - 오, 맛있다. 괜찮은데?</option>
              <option :value="2" >2점 - 나쁘지 않네.</option>
              <option :value="1" >1점 - 괜히 왔다. 다시는 안올듯.</option>
              <option :value="0" >0점 - 돈버렸다..</option>
            </select>
          </fieldset>

          <!-- 저장 버튼 -->
          <button type="button" class="btn_submit" v-show="!isUploading" @click="saveResInfo( pk )">{{ addBtnText }}</button>
        </form>
      </div>
      <div class="warning" v-else>
        <p>관리자 계정 확인중...</p>
      </div>
    </div>
  </div>
</template>

<script>
  // mixin content
  import { adminConfirm } from '@/mixin/adminConfirm'
  import resSaveMixin from "@/mixin/resSaveMixin"

  import Restaurant from '@/model/Restaurants'
  import Tags from '@/model/Tags'

  import ImageUpload from '@/pages/admin/components/image_upload'

  export default {
    data () {
      return {
        addBtnText : '',
        pk : this.$route.params.res_pk
      }
    },

    mixins : [
      adminConfirm,
      resSaveMixin
    ],

    components : {
      'image-upload' : ImageUpload
    },

    beforeMount () {
      this.setBtnText();
    },

    methods : {

      setBtnText () {
        this.addBtnText = this.pk ? '수정하기' : '등록하기';
      },

      removeTag (tagField, tagName, pk) {
        let resRef = new Restaurant();
        let tagRef = new Tags();

        Promise.all([
          tagRef.deleteTag({[tagName] : true}, tagField, pk),
          resRef.removeResTag(pk, tagField, tagName )
        ]).then(() => {
          return Promise.all([
            tagRef.deleteEmptyTag(tagField),
          ])
        }).then(()=>{
          this.$delete(this.formData[tagField], tagName );
          console.log('식당에 등록된 태그 삭제 완료')
        })
      }
    }
  }
</script>

<style lang="scss">
  .add_wrap{
    .add_content{
      padding: 30px 50px;
      form{
        fieldset{
          margin-top:13px;
        }
        label{
          display:block;
          margin-bottom:5px;
          font-size: 14px;
          color:#111;
        }
        legend{
          font-size:15px;
        }
        input{
          width:100%;
          box-sizing: border-box;
          height:30px;
          font-size: 13px;
          padding: 0 10px 0;
        }
        select{
          width:100%;
          height:30px;
          border: 1px solid #555;
          font-size: 13px;
        }
        textarea{
          width:100%;
          padding: 10px;
          box-sizing: border-box;
        }
        .btn_submit{
          margin-top: 20px;
          width:100%;
          height:30px;
          line-height: 30px;
          font-size: 13px;
          color:#fff;
          background-color: $MAIN_COLOR;
        }
      }

      .register_tag{
        margin-top:10px;
        em{
          display:block;
          font-size: 13px;
          color: red;
        }
        button{
          position: relative;
          display:inline-block;
          margin-top:5px;
          border:1px solid #111111;
          background-color: #e2e2e2;
          box-sizing: border-box;
          margin-right:10px;
          padding: 5px 10px;
          cursor: pointer;
          &:after{
            content:'X';
            display:inline-block;
            margin-left:4px;
          }
        }
      }

    }
  }

  .warning {
    text-align: center;
    p{
      font-size: 20px;
    }
  }

  .dimmed{
    z-index: 99999999999;
    position: fixed;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.5);
    .center_table{
      display: table;
      width:100%;
      height:100%;
      text-align: center;
      vertical-align: middle;
      p{
        &:before{
          content:'';
          display:block;
          margin:0 auto;
          width:100px;
          height:100px;
          background: url(/static/img/image_loading.gif) no-repeat;
          background-size: 100px 100px;
        }
        display:table-cell;
        vertical-align: middle;
        color: #fff;
        font-size: 18px;
      }
    }
  }

  @media screen and (max-width: 640px) {
    .add_wrap{
      .add_content{
        padding :30px 10px;
      }
    }
  }

</style>
