<style lang="scss" scoped>
.image_upload{
  .lst_upload{
    li{
      display:table;
      width:100%;
      border: 1px solid rgba(#000,.2);
      &+li{
        margin-top:4px;
      }
      .column{
        display:table-cell;
        border-left:1px solid rgba(#000,.2);
        &:first-child{
          border-left:0;
        }
        .head{
          display:block;
          text-align: center;
        }
        label{
          display:block;
          margin-top:10px;
          font-size: 13px;
        }
        input{
          width:100%;
          box-sizing: border-box;
          margin-top:6px;
          height:30px;
          border:1px solid rgba(#000,.2);
          &:disabled{
            background-color: #c9c9c9;
          }

          &:last-child{
            margin-bottom:15px;
          }
        }
        img{
          display:block;
          margin: 8px auto 0 ;
          border:1px solid rgba(0,0,0,0.1);
          width:100%;
          &.no_image{
            width:100px;
            margin-top:30px;
          }
        }


        .bx{
          position: relative;
          padding:5px;
          min-height: 200px;
        }

        &.image_area{
          position: relative;
          width:200px;
        }

        &.url_area{
          vertical-align: middle;
          padding:0 10px;
        }

        &.remove_area{
          max-width:50px;
          width:50px;
          text-align: center;
          vertical-align: middle;
          .remove_row{
            font-size: 13px;
            text-decoration: underline;
            &:hover{
              color: $MAIN_COLOR;
            }
          }
        }
      }
    }
  }

  .btn_area{
    font-size: 0;
    >span{
      display:inline-block;
      width:33.3%;
      padding:0 5px;
      box-sizing: border-box;
    }
    .btn{
      margin-top:10px;
      display:inline-block;
      width: 100%;
      height:30px;
      background-color: $MAIN_COLOR;
      color: #fff;
      font-size: 12px;
      &.btn_reset{
        background-color: #ddd;
        color:#000;
      }
    }
  }
}
</style>

<template>
  <div class="image_upload">
    <div class="upload_content">
      <ul class="lst_upload">
        <li v-for="(item, index) in imageRow" :key="item.id">
          <div class="column image_area">
            <div class="bx">
              <span class="head">미리보기</span>
              <!--<img :src="item.convert_url" width="200" alt="" v-if="item.convert_url">-->
              <img v-lazy="item.convert_url" v-if="item.convert_url" width="200">
              <img src="/static/img/no-image-available.png" width="100" alt="이미지 없음" class="no_image" v-else>
            </div>
          </div>
          <div class="column url_area">
            <div class="bx">
              <label>구글드라이브 공유 URL</label>
              <input type="text" v-model="item.origin_url">
              <label>호스팅용 URL (자동 변환)</label>
              <input type="text" v-model="item.convert_url" disabled>
            </div>
          </div>
          <div class="column remove_area">
            <button type="button" class="remove_row" @click.stop="removeRow( index )">삭제</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="btn_area">
      <span>
        <button type="button" class="btn btn_reset" @click.stop="resetImageRow">초기화</button>
      </span>
      <span>
        <button type="button" class="btn btn_add" @click.stop="addImageRow">이미지 칼럼 추가 +</button>
      </span>
      <span>
        <button type="button" class="btn btn_convert" @click.stop="convertURL">URL 모두 변환</button>
      </span>
    </div>
  </div>
</template>

<script>
  import { EventBus } from '@/store/eventBus'

  export default {
    name : 'image_upload',
    props :[
      'imageRow'
    ],

    methods : {
      addImageRow () {

        this.$emit('addImageRow' )
      },

      resetImageRow () {

        this.$emit('resetImageRow');
      },

      removeRow ( index ){
        this.$emit('removeRow', index);
      },

      convertURL (){
        this.$emit('convertURL');
      },
    }
  }
</script>

