<template>
  <div class="upload_list_wrap">
    <div class="upload_content" v-if="!isUploading">
      <button type="button" class="btn_remove_all" @click="removeAllPreview()">사진 모두 삭제</button>
      <table class="list_upload">
        <colgroup>
          <col width="150">
          <col width="80">
          <col width="80">
          <col width="60">
        </colgroup>
        <thead>
          <th>미리보기</th>
          <th>파일명</th>
          <th>파일 사이즈</th>
          <th>삭제</th>
        </thead>
        <tbody>
          <tr v-for="(image, index) in preview_images" :key="image.id">
            <td><img :src="image.data_url"></td>
            <td>{{ image.file.name }}</td>
            <td>{{ bytesToSize( image.file.size ) }}</td>
            <td>
              <button type="button" @click="removeOnePreview(index)" >삭제</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="upload_progress" v-else>
      <p>이미지 업로드 진행중</p>
      <div v-for="(image) in preview_images" :key="image.id" class="prog_row">
        <span class="bg">
          <span class="ing" :style="{ width: image.upload_percent + '%'}">
            <span class="txt" v-if=" image.upload_percent !== 100 ">{{ image.upload_percent }}% 업로드중,,,,,,,,,</span>
            <span class="txt comp" v-else>{{ image.upload_percent }}% 업로드 완료</span>
          </span>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name : 'upload-list',

  props : [
    'preview_images',
    'isUploading'
  ],

  methods :{
    bytesToSize (bytes) {
      var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
      if (bytes == 0) return '0 Byte';
      var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
      return (bytes / Math.pow(1024, i), 2).toFixed(2) + ' ' + sizes[i];
    },

    removeOnePreview ( index ){
      // console.log( index );
      this.$emit("removeOnePreview", index);
    },

    removeAllPreview (){
      this.$emit('removeAllPreview');
    }
  }
}
</script>

<style lang="scss" scoped>
.upload_list_wrap{
  position: relative;
}
.list_upload{
  border: 1px solid #aaa;
  width:100%;
  display:table;
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
  thead{
    th{
      padding:10px 0;
    }
  }
  tbody {

    tr{
      border-top:1px solid #aaa;
      td{
        padding: 10px;
        word-break: break-all;
        img {
          width : 100%;
          max-width: 150px;
        }
      }
    }
  }
  button{
    color: red;
    text-decoration: underline;
  }

}
// upload progress
.upload_progress{
  .prog_row{
    width:100%;
    margin-top:10px;
    .bg{
      position: relative;
      overflow: hidden;
      display:block;
      width:100%;
      height: 20px;
      background-color: #ddd;
      border-radius: 15px;
    }
    .ing{
      overflow: hidden;
      position: absolute;
      top:0;
      left:0;

      display:inline-block;
      height:100%;
      background-color: #42b983;
    }
    .txt{
      position:absolute;
      top:2px;
      right:0;
      display:inline-block;
      color: #fff;
      padding-right:15px;
      &.comp{

      }
    }
  }
}

.btn_remove_all{
    position: absolute;
    top:-30px;
    right: 0;
    border: 1px solid red;
    padding : 2px 5px;

}
</style>
