<template>
  <div class="upload_wrap">
    <!--UPLOAD-->
    <div class="dropbox">
      <input type="file" multiple @change="checkFile($event.target.name, $event.target.files)" accept="image/jpg, image/jpeg, image/png" class="input-file">
      <p>
        이미지를 Drag & Drop 하거나 선택해주세요.<br>
        이미지 한장당 용량은 최대 3MB를 넘을 수 없으며, 파일 갯수는 최대 5개 입니다.
      </p>
    </div>
  </div>
</template>

<script>

export default {
  name : 'imageUploadInput',
  methods : {

    _checkFileSize ( file, index, ar  ) {

      if ( file.size > 3145728){
        return false;
      } else {
        return true;
      }
    },

    checkFile ( fileName, fileList ){
      try {
        this.filesChange(fileList);
      } catch (error){
        alert(error);
      }
    },


    filesChange ( fileList ) {
      let temp = Array.from(fileList);
      let isFileSize = temp.every( this._checkFileSize );

      if( isFileSize && temp.length !== 0 && temp.length < 6){
        this.$emit('showPreview', fileList);
      } else if ( !isFileSize ) {
        throw '이미지 용량은 3MB 이하로 업로드 해주세요.' ;
      } else if ( temp.length > 6 ){
        throw '이미지 갯수는 최대 5장 입니다.' ;
      } else {
        throw "에러"
      }

    }
  }
}
</script>

<style lang="scss" scoped>

.dropbox {
    outline: 2px dashed grey; /* the dash box */
    outline-offset: -10px;
    padding: 10px 10px;
    min-height: 100px; /* minimum height */
    position: relative;
    cursor: pointer;
  }

  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 100px;
    position: absolute;
    cursor: pointer;
  }

  .dropbox:hover {
    background: lightblue; /* when mouse over to the drop zone, change color */
  }

  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
  }
</style>
