<template>
	<footer>

		<button v-on:click="clearTodo()"><span>clear all.</span></button>
	</footer>
</template>

<script>
	export default {
		methods: {
			clearTodo: function() {
				this.$emit('removeAll');
			},
		}
	}
</script>

<style>

</style>