<template>
	<section>
		<transition-group name="list" tag="ol">
			<li v-for="(todoItem, index) in propsdata" class="shadow" v-bind:key="todoItem">
				<input type="checkbox" class="checkBtn" />
				{{ todoItem }}
				<div class="removeBtn" type="button" v-on:click="removeTodo(todoItem, index)"><span>del</span></div>
			</li>
		</transition-group>
	</section>
</template>

<script>
	export default {
		props: ['propsdata'],
		methods: {
			removeTodo: function(tItem, index) {
        console.log(tItem, index);
        this.$emit('removeTodo', tItem, index);
			}
		}
	}
</script>

<style scoped>
  ol {
    padding-left: 0px;
    margin-top: 0;
    text-align: left;
  }
  li {
    display: flex;
    min-height: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0.5rem 0;
    padding: 0 0.9rem;
    background: white;
    border-radius: 5px;
  }
  input {
	  width: inherit;
	  vertical-align: middle;
	  margin: 18px 0;
  }
  .checkBtn {
    line-height: 45px;
    color: #62acde;
    margin-right: 5px;
  }
  .removeBtn {
    margin-left: auto;
    /* color: #de4343; */
	background-color: #de4343;
	color: #fff;
	min-width: 48px;
	text-align: center;
  }

  .list-enter-active, .list-leave-active {
    transition: all 1s;
  }
  .list-enter, .list-leave-to {
    opacity: 0;
    transform: translateY(30px);
  }
</style>
