<template>
	<div class="inputBox shadow">
		<input type="text" v-model="newTodoItem" v-on:keyup.enter="addTodo" placeholder="type what you to do">
		<button v-on:click="addTodo" class="addContainer"><span class="addBtn">new</span></button>

		<modal v-if="showModal" v-on:close="showModal = false">
			<h3 slot="header">warn</h3>
			<div slot="body">
				input something
			</div>
			<div slot="footer">
				<button v-on:click="showModal=false" class="closeModalBtn">close</button>
			</div>
		</modal>

	</div>
</template>

<script>
	import xModal from './Modal.vue'

	export default {
		props: ['propsdata'],
		data() {
			return {
				newTodoItem: '',
				showModal: false
			}
		},
		methods: {
			addTodo() {
				if (this.newTodoItem !== '') {
					var value = this.newTodoItem && this.newTodoItem.trim();
					// console.log(this.newTodoItem);
					this.$emit('addTodo', value);
					// localStorage.setItem(value, value);
					this.clearInput();
				} else {
					this.showModal = !this.showModal;
				}
			},
			clearInput() {
				this.newTodoItem = '';
			}
		},
		components: {
			Modal: xModal
		}
	}
</script>

<style scoped>
input:focus {
  	outline: none;
}
.inputBox {
	background: white;
	border-radius: 5px;
}
.inputBox input {
	height: 48px;
	line-height: 48px;
	border-style: none;
	font-size: 0.9rem;
	width: 90%;
    text-align: center;
}
.addContainer {
	float: right;
	background: linear-gradient(to right, #6478FB, #8763FB);
	display: inline-block;
	width: 3rem;
	border-radius: 0 5px 5px 0;
}
.addBtn {
	display: inline-block;
	height: 48px;
	line-height: 48px;
	color: white;
	vertical-align: middle;
}
</style>
