<template>
	<header>
		<h1>T<span>0</span>DO</h1>
	</header>
</template>

<script>
	export default {

	}
</script>


<style lang="scss" scoped>
header {
	background-color: rgba(0,0,0,0.2);
}
h1 {
	color: #2f3b52;
	font-weight: bold;
	margin: 2.5rem 0 1.5rem;
	span {
		color: green;
	}
}
</style>


