<template>
  <div class="filter_tags filter_kind">
    <em>음식 종류 필터</em>
    <ul class="lst_tag">
      <li><button type="button" class="btn_tag on" @click.stop="resetTag">전체</button></li>
      <li v-for="(value, key) in kindTags" :id="value.id">
        <button type="button" class="btn_tag" @click.stop="searchKindTag(key, $event)">{{key}}</button>
      </li>
    </ul>
  </div>
</template>

<script>
  import { db } from '@/config/firebaseInit'
  import { EventBus } from '@/store/eventBus'

  export default {
    name : 'filter_kind',

    props : [
      'kindTags'
    ],

    data () {
      return {
        // aFilterKind : this.kindTags,
      }
    },

    methods : {
      resetTag () {
        EventBus.$emit('resetFilter');
      },

      searchKindTag ( data, event ) {

        // 이벤트로 태그 어떤거 선택했는지 전달해줌.
        if( $(event.target).hasClass('on') ){
          $(event.target).removeClass('on');
          this.$emit('setKindTag', '');
        } else {
          $('.filter_kind .lst_tag button').removeClass('on');
          this.$emit('setKindTag', data);
          $(event.target).addClass('on');
        }
        EventBus.$emit('removeCityTag');
        EventBus.$emit('searchTag');
      },

    },

    mounted (){
      EventBus.$on('removeKindTag', ()=>{
        $('.filter_kind .lst_tag button').removeClass('on');
      })
    }

  }
</script>

<style lang="scss" scoped>

</style>
