<template>
  <section class="main_filter">
    <div class="select_city" v-if="selectedCity === ''">
      <label for="selCity" class="label_sel_city">검색</label>
      <select id="selCity" v-model="filterOption.city" @change="selectCity">
        <option value="도시 선택" selected disabled>도시 선택</option>
        <option value="서울">서울</option>
        <option value="도쿄">도쿄</option>
        <option value="오사카">오사카</option>
        <option value="교토">교토</option>
      </select>
    </div>
    <div class="tab_menu" v-if="filterOption.kind_tags || filterOption.city_tags">
      <span class="tab_btn_area">
        <button type="button" class="tab_btn on" @click="toggleTab">업종</button>
      </span>
      <span class="tab_btn_area">
        <button type="button" class="tab_btn" @click="toggleTab">지역</button>
      </span>
    </div>
    <filter_city
      v-show="sSelectedTab === '지역'"
      v-if="filterOption.city_tags"
      :cityTags="filterOption.city_tags"
      v-on:setCityTag="setCityTag">
    </filter_city>
    <filter_kind
      v-show="sSelectedTab === '업종'"
      v-if="filterOption.kind_tags"
      :kindTags="filterOption.kind_tags"
      v-on:setKindTag="setKindTag">
    </filter_kind>
    <div class="btn_area" v-if="filterOption.kind_tags || filterOption.city_tags">
      <!--<button type="button" class="btn reset" @click="clearFilterAll">초기화</button>-->
      <!--<button type="button" class="btn apply" @click="searchFilter">적용</button>-->
    </div>
  </section>
</template>

<script>
import { db } from '@/config/firebaseInit'
import FilterCity from '@/pages/components/FilterCity'
import FilterKind from '@/pages/components/FilterKind'
import { EventBus } from '@/store/eventBus'

export default {
  name : 'filter_main',

  props : {
    'selectedCity' : {
      default : '',
      type: String,
    }
  },


  data () {
    return {
      filterOption : {
        city : '도시 선택',
        isCity : false,
        kind_tags : null,
        city_tags : null,
        select_kind : '',
        select_city : '',
      },
      aResult : [],
      sSelectedTab : '업종'
    }
  },

  components : {
    'filter_city' : FilterCity,
    'filter_kind' : FilterKind
  },

  methods : {
    toggleTab ($event) {
      let sText = $($event.target).text();
      $('.tab_menu button').removeClass('on');
      $($event.target).addClass('on');
      // console.log( $($event.target).text() )

      this.sSelectedTab = sText;
      if(sText === '업종'){
        this.filterOption.select_city = '';
      } else {
        this.filterOption.select_kind = '';

      }
    },

    saveResult ( data ) {
      this.aResult = [];

      data.forEach(doc=>{
        this.aResult.push({ 'pk': doc.id, 'data':doc.data() });
      });

      EventBus.$emit('filterResult', this.aResult);
    },

    searchFilter (){
      let resRef = db.collection('restaurants');
      let kindField = 'tags_kind' + '.' + this.filterOption.select_kind;
      let cityField = 'tags_city' + '.' + this.filterOption.select_city;

      if(this.isCity === true && this.filterOption.select_city.length !== 0 && this.filterOption.select_kind.length !== 0){
        resRef.where('city', '==', this.filterOption.city)
          .where( kindField, '==', true)
          .where( cityField, '==', true)
          .get().then(result=>this.saveResult(result))
      } else if (this.filterOption.select_kind.length !== 0){
        resRef.where('city', '==', this.filterOption.city)
          .where( kindField, '==', true)
          .get().then(result=>this.saveResult(result))
      } else if (this.filterOption.select_city.length !== 0){
        resRef.where('city', '==', this.filterOption.city)
          .where( cityField, '==', true)
          .get().then(result=>this.saveResult(result))
      } else {
        resRef.where('city', '==', this.filterOption.city).get().then(result=>this.saveResult(result))
      }

    },

    clearFilterAll () {
      this.clearTag();
      this.clearCity();
      // 리스트 뷰에서 초기화 하면 식당들 다시 나오게...
      if( this.$route.params.city ){
        EventBus.$emit('resetList');
      }
    },

    clearCity(){
      this.filterOption.isCity = false;
      if( this.selectedCity ){
        this.filterOption.city = this.selectedCity;
        this.selectCity();
      } else {
        this.filterOption.city = '도시 선택';
      }
    },

    clearTag () {
      this.filterOption.select_kind = '';
      this.filterOption.select_city = '';

      this.filterOption.kind_tags = null;
      this.filterOption.city_tags = null;
    },

    // $emit Event
    setKindTag ( tag_name ){
      this.filterOption.select_kind = tag_name;
    },

    setCityTag ( tag_name ){
      this.filterOption.select_city = tag_name;
    },

    // select option method
    selectCity () {
      let resRef = db.collection('restaurants');
      let sel_city = resRef.where('city', '==', this.filterOption.city );

      // tags list reset
      this.filterOption.city_tags = null;
      this.filterOption.kind_tags = null;

      //reset tag
      this.clearTag();

      // get city tags
      sel_city.get().then(query=>{

        if( query.size > 0){

          query.forEach((doc)=>{
            // set kind tag
            if( this.filterOption.kind_tags === null ){
              this.filterOption.kind_tags = doc.data().tags_kind;
            }
            else {
              Object.keys( doc.data().tags_kind).map((value,index)=>{
                if(!this.filterOption.kind_tags.hasOwnProperty( value )){
                  this.filterOption.kind_tags[value] = true;
                }
              })
            }

            // set city tag
            if( this.filterOption.city_tags === null ){
              this.filterOption.city_tags = doc.data().tags_city;
            }
            else {
              Object.keys( doc.data().tags_city).map((value,index)=>{
                if(!this.filterOption.city_tags.hasOwnProperty( value )){
                  this.filterOption.city_tags[value] = true;
                }
              })
            }
          });
          this.filterOption.isCity = true;

          if( !this.$route.params.city ){
            this.saveResult( query );
          }

        }
        else {
          this.filterOption.isCity = false;
          alert('선택한 도시에 식당이 없습니다!');
        }

      })

    }
  },

  beforeMount () {
    if( this.selectedCity ){
      this.filterOption.city = this.selectedCity;
      this.selectCity();
    }

    EventBus.$on('resetFilter', ()=>{
      this.clearFilterAll();
      this.sSelectedTab = '업종';
    })

    EventBus.$on('searchTag', ()=>{
      this.searchFilter();
    })
  }
}
</script>

<style lang="scss">
  .city_list_wrap{
    .filter_tags{
      em{
        display:none;
      }
    }
  }
  .tab_menu{
    overflow: hidden;
    .tab_btn_area{
      float: left;
      width:50%;
      box-sizing: border-box;
      border-width:0 5px;
      border:solid transparent;
    }
    button{
      width:100%;
      height: 40px;
      border-radius: 3px;
      background-color: #ffffff;
      border: solid 1px #e3e3e3;
      box-sizing: border-box;
      font-size: 13px;
      font-weight: bold;
      &.on{
        color:#fff;
        background-color: #ae2627;
        border: solid 1px #ae2627;
      }
    }
  }
  .main_filter{
    .select_city{
      padding: 5px 10px;
      .label_sel_city{
        display:block;
        font-size: 14px;
        margin-bottom: 5px;
      }
      select{
        box-sizing: border-box;
        width:100%;
        height:30px;
        border: 1px solid rgba(0,0,0,.2);
        font-size: 13px;
        background-color:transparent;
      }
    }
    .btn_area{
      display:table;
      margin-top:18px;
      box-sizing: border-box;
      padding: 0 10px;
      width:100%;
      table-layout: fixed;
      text-align: center;

      .btn{
        display:table-cell;
        width:110px;
        height:38px;
        font-weight: bold;
        border-radius: 25px;
        font-size: 14px;

        &.apply{
          background-color: $MAIN_COLOR;
          color: #fff;
        }
        &.reset{
          background-color: #ddd;

        }
      }
    }
  }
  .filter_city, .filter_kind{
    padding :5px 10px 0;
    > em{
      font-size: 14px;
    }
    .lst_tag{
      text-align: center;
      li{
        display:inline-block;
        margin-top:5px;
        margin-right:5px;
        button{
          box-sizing: border-box;
          padding: 4px 10px;
          font-size:13px;
          color:#2a2a2a;
          min-width: 60px;
          height: 30px;
          border-radius: 15px;
          background-color: #ffffff;
          border: solid 1px #e3e3e3;
          letter-spacing: -0.2px;
          text-align: center;
          &.on{
            border: solid 1px #ae2627;
            color:#ae2627;
          }
        }
      }
    }
  }
</style>
