<template>
  <div class="filter_tags filter_city">
    <em>도시 태그 필터</em>
    <ul class="lst_tag">
      <li><button type="button" class="btn_tag on" @click.stop="resetTag">전체</button></li>
      <li v-for="(item, key) in cityTags" :id="item.id">
        <button type="button" class="btn_tag" @click.stop="searchCityTag(key, $event)">{{key}}</button>
      </li>
    </ul>
  </div>
</template>

<script>
  import { db } from '@/config/firebaseInit'
  import { EventBus } from '@/store/eventBus'

  export default {
    name : 'filter_city',

    props : [
      'cityTags'
    ],

    methods : {

      resetTag () {
        EventBus.$emit('resetFilter');
      },

      searchCityTag ( data, event ) {

        // 이벤트로 태그 어떤거 선택했는지 전달해줌.
        if( $(event.target).hasClass('on') ){
          $(event.target).removeClass('on');
          this.$emit('setCityTag', '');
        } else {
          $('.filter_city .lst_tag button').removeClass('on');
          this.$emit('setCityTag', data);
          $(event.target).addClass('on');
        }

        EventBus.$emit('removeKindTag');
        EventBus.$emit('searchTag');
      }
    },

    mounted (){
      EventBus.$on('removeCityTag', ()=>{
        $('.filter_city .lst_tag button').removeClass('on');
      })
    }

  }
</script>

<style lang="scss" scoped>

</style>
