<template>
  <section class="footer">
    <div class="list_btn_area">
      <ul class="lst_btn">
        <li>
          <button type="button" class="lnk_btn" @click="scrollTop">TOP</button>
        </li>
        <li>
          <button type="button" class="lnk_btn">공유하기</button>
        </li>
      </ul>
    </div>
    <div class="copyright">

    </div>
  </section>
</template>

<script>
  export default {
    name: 'bottom-footer',
    data(){
      return {
        clipURL : window.location.href,
      }
    },
    methods: {
      onCopy: function (e) {
        alert('공유 URL이 복사됐습니다 : \n' + e.text)
      },
      onError: function (e) {
        alert('복사 실패')
      },

      scrollTop (){
        $(document).scrollTop(0,0);
      }
    },
    mounted () {
//       console.log( this.$route.fullPath )
//       console.log( window.location.href )
    }
  }
</script>

<style lang="scss" scoped>
.footer{
  padding:5px 5px 20px;
  .lst_btn{
    display:flex;
    background-color: #fff;

    li{
      position:relative;
      display:inline-block;
      width: 50%;
      text-align: center;

      &:first-child{
        &:before{
          display:none;
        }
      }

      &:before{
        content:'';
        position:absolute;
        top:14px;
        left:0;
        display:block;
        height:16px;
        width:1px;
        background-color: #c1c1c1;
      }
    }
    .lnk_btn{
      display: block;
      width:100%;
      position: relative;
      text-align: center;
      padding: 15px 0 13px;
      font-size: 14px;
      line-height: 15px;
      color: #000;
      opacity: .5;
    }
  }
}
</style>
