<template>
  <div class="gmap_content">
    <gmap-map
      :center="mapOption.center"
      :zoom="19"
      map-type-id="roadmap"
      style="width: 100%; height: 250px"
    >
      <gmap-marker
        :position="mapOption.center"
        :clickable="false"
      ></gmap-marker>
      <!--<gmap-marker-->
      <!--:position="mapOption.center"-->
      <!--:clickable="true"-->
      <!--@click="center=m.position;toggleInfoWindow(m, index)"-->
      <!--&gt;-->
      <!--<gmap-info-window-->
      <!--:opened="infoWinOpen" @closeclick="infoWinOpen=false"-->
      <!--&gt;-->
      <!--Hello world!-->
      <!--</gmap-info-window>-->
      <!--</gmap-marker>-->

    </gmap-map>
  </div>
</template>

<script>

  export default {
    props : {
      'map_url' : {
        default : '',
        type : String,
      }
    },

    data() {
      return {
        mapOption : {
          center : {},
          markers: [],
        },
        infoContent: '',
        currentMidx: null,
        infoWinOpen: true,
        infoWindowPos: {
          lat: 0,
          lng: 0
        },
        infoOptions: {
          pixelOffset: {
            width: 0,
            height: -35
          }
        },
      }
    },

    methods : {
      toggleInfoWindow: function(marker, idx) {
        this.infoWindowPos = marker.position;
//        this.infoContent = "어떤게 들어갈까";
        //check if its the same marker that was selected if yes toggle
        if (this.currentMidx == idx) {
          this.infoWinOpen = !this.infoWinOpen;
        }
        //if different marker set infowindow to open and reset current marker index
        else {
          this.infoWinOpen = true;
          this.currentMidx = idx;
        }
      },

      calcDistance(lat1, lon1, lat2, lon2, unit) {
        let radlat1 = Math.PI * lat1/180;
        let radlat2 = Math.PI * lat2/180;
        let theta = lon1-lon2;
        let radtheta = Math.PI * theta/180;
        let dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
        dist = Math.acos(dist);
        dist = dist * 180/Math.PI;
        dist = dist * 60 * 1.1515;
        if (unit=="K") { dist = dist * 1.609344 }
        if (unit=="N") { dist = dist * 0.8684 }
        return dist
      },

      nearZero(values){//input array
        let idx = 0;
        let temp = 1000000;

        let count = 0;
        let val, value;

        for(value in values) {

          val = Math.abs(values[value]);

          if(temp > val) {
            idx = count;
            temp = val;
          }
          count++;
        }

        return idx;
      },

      mapUrlConvert ( map_url ){

        let mapCenterReg = /@(-?\d+\.\d+),(-?\d+\.\d+),(\d+\.?\d?)+z/g;
        let match = mapCenterReg.exec(map_url);

        let markerRegex = /\!3d(\d+\.\d+)\!4d(\d+\.\d+)/g;

        let mapCenter = {
          lat : parseFloat(match[1]),
          lng : parseFloat(match[2])
        };

        let aTempMarker = [];
        let obj = { lat : '' , lng : ''};

        let matches;
        let test = [];
        let result ;

        while (matches = markerRegex.exec( map_url )) {
          // console.log( matches );
          aTempMarker.push(matches);
        }

        for(var i=0; i < aTempMarker.length; i++){
          test.push( this.calcDistance( mapCenter.lat, mapCenter.lng, aTempMarker[i][1], aTempMarker[i][2] ) )
        }

        result = this.nearZero( test );
        obj.lat = parseFloat(aTempMarker[result][1]);
        obj.lng = parseFloat(aTempMarker[result][2]);
        this.mapOption.center = obj;

      }
    },

    beforeMount () {
      this.mapUrlConvert( this.map_url );
    }
  }
</script>

<style lang="scss" scoped>

</style>
