<template>
  <section class="header">
    <h1><a href="/"><span>{{ title }}</span></a></h1>
    <button class="btn_menu" v-on:click="showSidebar()">메뉴</button>
    <!--<button class="btn_back" v-show="$route.path !== '/'" @click="$router.go(-1)">뒤로</button>-->
    <!--<button class="btn_search">검색</button>-->
  </section>
</template>

<script>
import { EventBus } from '@/store/eventBus'

export default {
  name: 'common-header',
  props: {
    'title' : {
      default : 'Soochelin Guide',
      type : String,
    },
  },
  data () {
    return {

    }
  },

  methods : {
    showSidebar (){
      EventBus.$emit('showSidebar')
    }
  }
}
</script>

<style lang="scss" scoped>
.add_wrap{
  .header{
    position: relative !important;
  }
}
.header{
  z-index: 1000;
  position: absolute;
  left:0;
  right:0;
  height: 50px;

  h1 {
    position: absolute;
    display:block;
    top:0;
    left:0;
    right:0;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-align:center;
    a{
      display:inline-block;
      /*padding: 0 100px;*/
      color:#000;
      &:visited{
        color:#000;
      }
    }
    span{
      overflow: hidden;
      display:block;
      font-size: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      color:#000;
      font-weight: bold;
      letter-spacing: -0.3px;
      text-align: center;
    }
  }

  .btn_menu{
    z-index: 1000;
    position: absolute;
    top:0;
    left:0;
    width:50px;
    height:50px;
    padding:10px;
    font-size: 0;
    &:before{
      content:'';
      position: absolute;
      display:block;
      top:50%;
      left:50%;
      margin: -10px 0 0 -8px;
      width:16px;
      height:20px;
      background: url("/static/img/icon/icon-menu@2x.png") 0 0 no-repeat;
      background-size: 16px 20px;
    }
  }
  .btn_back{
    position: absolute;
    top:7px;
    right:5px;
    padding:10px;
    color: #000;
  }
}
</style>

