<template>
  <div class="like_btn_area">
    <button type="button" class="btn_like" @click="addLikeRes" v-if="!isRegister">좋아요</button>
    <button type="button" class="btn_like on" @click="removeLikeRes" v-else>좋아요 취소</button>
  </div>
</template>

<script>
  import firebase from 'firebase'
  import { EventBus } from '@/store/eventBus'
  import { mapGetters, mapActions } from 'vuex'

  import User from '@/model/User'

  export default {
    data () {
      return {
        isRegister : false
      }
    },

    props : [
      'resPk'
    ],

    computed : mapGetters({
      getLoginState : 'getLoginState'
    }),

    methods : {

      addLikeRes (){
        let user = new User();
        let currentUser = firebase.auth().currentUser;

        if( this.getLoginState ){
          user.addLikeRes( currentUser.uid, this.resPk ).then(result=>{
            alert(result);
            this.isLike();
          });
        } else{
          alert('로그인을 하면 좋아요를 추가할 수 있습니다!');
          EventBus.$emit('showSidebar');
        }
      },

      removeLikeRes () {
        let user = new User();
        let currentUser = firebase.auth().currentUser;

        user.removeLikeRes( currentUser.uid, this.resPk ).then(result=>{
          alert(result);
          this.isLike();
        })
      },

      isLike () {
        let user = new User();
        let currentUser = firebase.auth().currentUser;

        if( this.getLoginState){
          Promise.resolve(user.isLikeRes( currentUser.uid )).then(result=>{
            this.isRegister = result.like_res.hasOwnProperty(this.resPk);
          })
        }
      }
    },

    beforeMount () {
      this.isLike();
    }
  }
</script>

<style lang="scss" scoped>
  .like_btn_area{
    position:absolute;
    top:15px;
    right:20px;
    z-index: 1000;
    button.btn_like{
      width: 30px;
      height: 26px;
      background:url("/static/img/icon/icon-heart-detail-off@2x.png") no-repeat 0 0;
      background-size: 30px 26px;
      font-size: 0;
      &.on{
        background-image: url("/static/img/icon/icon-heart-detail-on@2x.png");
      }
    }
  }
</style>
