<template>
  <section class="recent_rest">
    <h2>최근 추가한 식당</h2>
    <div id="recentWrap" class="list_wrap" v-if="aRecent.length !== 0">
      <ul>
        <li v-for="(value, index) in aRecent" >
          <router-link :to="{name:'Detail', params: { res_pk: value.pk }}">
            <div class="content">
              <span class="bg_img" v-lazy:background-image="value.data.list_image[0].convert_url"></span>
              <div class="info">
                <span class="f_name">{{ value.data.city }}</span>
                <span class="name">{{ value.data.name }}</span>
                <!--<span class="city">{{ value.data.city }}</span>-->
                <div class="tag_area">
                  <span class="tag" v-for="(value, key) in value.data.tags_kind">{{key}}</span>
                </div>
                <div class="tag_area">
                  <span class="tag" v-for="(value, key) in value.data.tags_city">{{key}}</span>
                </div>
                <span class="rating">
                <span class="bg_star">
                  <span class="star" v-for="star in value.data.rating"></span>
                </span>
              </span>
              </div>
            </div>
          </router-link>
        </li>
      </ul>
    </div>

    <div class="nothing" v-else>
      <p>{{sRecentState}}</p>
    </div>
  </section>
</template>

<script>
  import { db } from '@/config/firebaseInit'

  export default {
    name : 'RecentRest',

    data(){
      return {
        aRecent : [],
        sRecentState : '로딩중...',
      }
    },

    beforeCreate () {
      let resRef = db.collection('restaurants');

      resRef.orderBy('create_time', 'desc').limit(8).get().then(querySnap=>{
        if(querySnap.size > 0){
          querySnap.forEach(doc=>(
            this.aRecent.push( { 'pk': doc.id, 'data' :doc.data() } )
          ))
        } else{
          this.sRecentState = '최근 추가한 리스트가 없습니다.'
        }

      }).then(()=>{
        let recent = $('#recentWrap ul');
        let recentChild = recent.children('li');
        recent.width( recentChild.width() * recentChild.length )
      });
    },

  }

</script>

<style lang="scss" scoped>
.recent_rest{
  padding: 5px 0;
  background-color:#fff;
  h2{
    @include heading-tag;
  }
  .nothing{
    display: block;
    margin:20px auto;
    font-size: 14px;
    text-align:center;
  }
}
.list_wrap{
  margin-top:5px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  ul{
    overflow: hidden;
    margin-left:-4px;
    padding:0 10px 5px 12px;
    li{
      float:left;

      .content{
        position:relative;
        display:block;
        width:162px;
        margin-left:4px;
        border-radius: 2px;
        background-color: #ffffff;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      }
      .bg_img{
        display:block;
        width:162px;
        height: 90px;
        background: no-repeat 50% 50% ;
        background-size: 162px;
      }
      .info{
        padding:8px 10px 12px;
      }
      .city, .name, .rating,.f_name, .tag_area{
        display:block;
        color:#000;
      }

      .f_name{
        display:block;
        font-size: 11px;
        font-weight: bold;
        letter-spacing: -0.2px;
      }
      .tag_area{
        display:block;
        .tag{
          display: inline-block;
          margin-right:5px;
          font-size: 10px;
          &:before{
            content:'#';
            display:inline-block;
          }
          &:first-child{
            margin-left:0;
          }
        }
      }

      .city{
        font-size: 10px;
        font-weight: bold;
        letter-spacing: -0.2px;
      }

      .name{
        margin-top:5px;
        font-size: 16px;
        letter-spacing: -0.2px;
      }

      .rating{
        margin-top:5px;
        .bg_star{
          position:relative;
          display:block;
          width:78px;
          height:14px;
          background: url("/static/img/icon/star-0@2x.png") no-repeat 0 0;
          background-size: 78px 14px;
        }
        .star{
          display:inline-block;
          margin-left:2px;
          width:14px;
          height:14px;
          background: url('/static/img/icon/icon-star-detail-1@2x.png') no-repeat 0 0;
          background-size: 14px 14px;
          vertical-align: top;
          font-size: 0;
          &:first-child{
            margin-left:0;
          }
        }
      }
    }
  }
}
</style>
