<template>
  <section class="select_city_wrap">
    <div class="content">
      <span class="bg_main" :style="{backgroundImage : 'url(' + randomRange(1,2) + ')'}"></span>
      <div class="table">
        <div class="row">
          <router-link :to="{ name : 'CityList', params:{city:'오사카'}}" class="btn_city">OSAKA</router-link>
          <router-link :to="{ name : 'CityList', params:{city:'교토'}}" class="btn_city">KYOTO</router-link>
          <router-link :to="{ name : 'CityList', params:{city:'도쿄'}}" class="btn_city">TOKYO</router-link>
          <router-link :to="{ name : 'CityList', params:{city:'서울'}}" class="btn_city">SEOUL</router-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { db } from '@/config/firebaseInit'

  export default {
    name : 'SelectCity',

    methods : {
      searchCity ( cityName ) {
        let resRef = db.collection('restaurants');

      },

      randomRange(n1, n2) {
        let n = Math.floor( (Math.random() * (n2 - n1 + 1)) + n1 );
        return '/static/img/main_bg/main0'+ n+'.jpeg';
      }
    }

  }
</script>

<style lang="scss" scoped>
.select_city_wrap{
  text-align: center;
  .content{
    position: relative;
    width:100%;
    height: 300px;

    .bg_main{
      position: absolute;
      top:0;
      left:0;
      right:0;
      width:100%;
      bottom:0;
      background-position:50% 50%;
      background-repeat: no-repeat;;
      background-size: cover;
    }
    &:before{
      content:'';
      z-index: 2;
      position: absolute;
      display:block;
      background-color: rgba(255, 255, 255, 0.2);
      width:100%;
      top:0;
      bottom:0;
    }
    &:after{
      content:'';
      z-index: 2;
      position: absolute;
      top:0;
      left:0;
      display:block;
      width:100%;
      height:140px;
      background: url('/static/img/icon/rectangle.png') repeat-x 0 0;

    }
    .table{
      z-index: 10;
      position: relative;
      margin: 0 auto;
      display:table;
      width:320px;
      height:100%;
      box-sizing : border-box;
      padding: 45px 20px 0;
      text-align: center;
      vertical-align: middle;
      .row{
        display:table-cell;
        height:100%;
        vertical-align: middle;
        .btn_city{
          display:inline-block;
          margin:0 15px 15px;
          width: 80px;
          height: 80px;
          line-height:80px;
          opacity: 0.9;
          background-color: #ffffff;
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
          color:#000;
          letter-spacing: -.2px;
          font-size: 14px;
          border-radius: 40px;
          font-weight: bold;
        }
      }
    }
    h1.tit{
      z-index: 10;
      position: relative;
      display: inline-block;
      margin-top:50px;
      font-size: 18px;
      text-align: center;
      color: rgba(#fff, 0.9);
      font-weight: bold;
    }
  }
}
</style>
