<template>
<div class="sidebar_wrap" v-show="isSidebarShow">
  <div class="user_sidebar">
    <div class="header">
      <button type="button" class="btn_login" v-on:click="clickLogin()" v-if="!getLoginState">로그인</button>
      <button type="button" class="btn_logout" v-on:click="clickLogout()" v-else>로그아웃</button>
      <button type="button" class="btn_close" v-on:click="closeSidebar()">닫기</button>
    </div>
    <div class="content">
      <div class="user_info" v-if="getLoginState">
        <div class="cell">
          <img :src="user.providerData[0].photoURL" width="150" alt="" class="user_img">
        </div>
        <div class="txt_area">
          <div class="user_name">{{ user.displayName }}</div>
          <div class="user_email">{{ user.email }}</div>
        </div>
      </div>
      <div class="loging" v-else>
        <p>{{sLoginState}}</p>
      </div>

      <ul class="lst_menu">
        <li><a href="/">메인</a></li>
        <li><a href="#">좋아요</a></li>
        <li><a href="javascript:;" @click="openStarGuide">별점 가이드</a></li>
        <li><a href="#">전체 태그</a></li>
        <li></li>
      </ul>
    </div>
    <a href="/admin" class="lnk_admin" v-if="isAdmin && getLoginState">관리자 도구</a>
  </div>
  <div class="dimmed"></div>
</div>
</template>

<script>
import firebase from 'firebase'
import { db } from '@/config/firebaseInit'
import { adminConfirm } from '@/mixin/adminConfirm'
import { EventBus } from '@/store/eventBus'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'userinfo-sidebar',

  mixins : [
    adminConfirm
  ],

  data () {
    return {
      user : null,
      isSidebarShow : false,
      sLoginState : '',
    }
  },

  computed : mapGetters({
    getLoginState : 'getLoginState'
  }),

  methods : {
    ...mapActions([
      'setLogin',
      'setLogout'
    ]),

    openStarGuide () {
      EventBus.$emit('openStarGuide');
      this.closeSidebar();
    },

    closeSidebar () {
      this.isSidebarShow = false;
    },

    clickLogin () {
      this.sLoginState = '로그인 중입니다...';
      firebase.auth().setPersistence(firebase.auth.Auth.Persistence.SESSION)
        .then(()=>{
          const provider = new firebase.auth.GoogleAuthProvider();
          // re-login Again other account access
          provider.setCustomParameters({
            prompt : 'select_account'
          });

          return firebase.auth().signInWithRedirect(provider).then((result) => {
          }).catch( error => console.log( error ))

        }).catch(error => {
          alert(error);
      });

    },

    clickLogout () {
      firebase.auth().signOut().then(()=> {
        this.setLogout();
        this.closeSidebar();
        this.$router.push('/');
      })
    },

    saveStore( user ){
      db.collection('users').doc( user.uid ).set({
        name : user.displayName,
        email : user.email
      }, { merge: true })
    }
  },

  beforeMount (){

    firebase.auth().onAuthStateChanged((user) => {
      if(user) {
        this.user = user;
        this.setLogin();
        this.saveStore(user);

      } else {
        this.setLogout();
        this.user = null;
      }
    });

    EventBus.$on('showSidebar', ()=>{
      this.isSidebarShow = true;
    });
  }
}
</script>

<style lang="scss" scoped>

.sidebar_wrap{
  z-index: 99999;
  position: fixed;
  width:100%;
  height:100%;
  left:0;
  right:0;

  .user_sidebar{
    z-index: 99998;
    position: relative;
    width:280px;
    min-width:200px;
    height:100%;
    background-color:#fff;

    .header{
      position: relative;
      line-height: 50px;
      height: 50px;
      background-color: #ae2627;
      padding:0 20px;
      h3{
        color:#fff;
      }
      .btn_close{
        position: absolute;
        top:0;
        left:0;
        width:50px;
        height:50px;
        font-size: 0;

        &:before{
          content:'';
          position: absolute;
          top:50%;
          left:50%;
          display:block;
          margin: -10px 0 0 -8px;
          width:16px;
          height:20px;
          background: url("/static/img/icon/btn_close@2x.png") 0 0 no-repeat;
          background-size: 16px 20px;
        }
      }
    }

    .content{
      .user_info{
        overflow: hidden;
        background-color:#ae2627;
        padding: 20px;
        border-top:1px solid rgba(255,255,255,0.1);
        .cell{
          float: left;
          display:block;
        }
        .txt_area{
          overflow: hidden;
          display:block;
          padding-left: 14px;
        }
        .user_img{
          display:block;
          margin: 0 auto;
          width:50px;
          height:50px;
          border-radius: 25px;
        }
        .user_name, .user_email{
          display:block;
          font-size: 14px;
          color:#fff;
        }
        .user_name{
          margin-top:3px;
          font-size: 18px;
          letter-spacing: -0.3px;
        }
        .user_email{
          margin-top:3px;
          opacity: 0.5;
          font-size: 14px;
          letter-spacing: -0.2px;
        }
      }
      .lst_menu{
        display:block;
        margin-top:20px;
        a{
          display:block;
          margin-top:20px;
          font-size: 20px;
          padding-left:30px;
          letter-spacing: -0.3px;
          text-align: left;
          color:#2d2d2d;
        }
      }
    }

    .lnk_admin{
      position: absolute;
      display:block;
      box-sizing: border-box;
      bottom:0;
      width:280px;
      font-size: 16px;
      letter-spacing: -0.3px;
      text-align: left;
      border-top:1px solid #d8d8d8;
      height: 60px;
      padding-left:30px;
      line-height: 60px;
      color:#2d2d2d;
    }

    .btn_login, .btn_logout{
      position: absolute;
      right:10px;
      top:10px;
      display:inline-block;
      line-height: 28px;
      color:#fff;
      box-sizing: border-box;
      width: 80px;
      height: 30px;
      border-radius: 17px;
      background-color: #ae2627;
      border: solid 1px #ffffff;
      opacity: 0.6;
      font-size: 13px;
      letter-spacing: -0.2px;

    }
  }

  .dimmed{
    position: fixed;
    top:0;
    z-index: 99988;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,.3);
  }
}

</style>
