<template>
  <div class="star_guide_wrap" v-show="isShow">
    <div class="guide_content">
      <div class="box">
        <div class="header">
          <span class="tit">별점 가이드</span>
          <button type="button" class="btn_close" @click="closeStarGuide">닫기</button>
        </div>
        <div class="content">
          <em class="txt">지극히 주관적인 별점평가!</em>
          <div class="star_guide">
            <span class="bg_star">
              <span class="star" v-for="value in 5"></span>
            </span>
            <p>대박. 완전감동. 무조건 가야돼!</p>
          </div>
          <div class="star_guide">
            <span class="bg_star">
              <span class="star" v-for="value in 4"></span>
            </span>
            <p>가성비 굿. 가심비 굿. </p>
          </div>
          <div class="star_guide">
            <span class="bg_star">
              <span class="star" v-for="value in 3"></span>
            </span>
            <p>오, 맛있다. 괜찮은데?</p>
          </div>
          <div class="star_guide">
            <span class="bg_star">
              <span class="star" v-for="value in 2"></span>
            </span>
            <p>나쁘지 않네.</p>
          </div>
          <div class="star_guide">
            <span class="bg_star">
              <span class="star" v-for="value in 1"></span>
            </span>
            <p>괜히 왔다. 다시는 안올듯.</p>
          </div>
          <div class="star_guide">
            <span class="bg_star"></span>
            <p>돈버렸다...</p>
          </div>
        </div>
      </div>
    </div>
    <div class="dimmed"></div>
  </div>
</template>

<script>
  import { EventBus } from '@/store/eventBus'

  export default {
    data () {
      return {
        isShow : false,
      }
    },
    methods : {
      closeStarGuide () {
        this.isShow = false;
      },
      openStarGuide() {
        this.isShow = true;
      }
    },
    mounted () {
      EventBus.$on('openStarGuide', ()=>{
        this.openStarGuide();
      })
    }
  }
</script>

<style lang="scss" scoped>
  .star_guide_wrap{
    z-index: 10000;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height: 100%;
    .guide_content{
      position: relative;
      z-index: 111111;
      display:table;
      width:100%;
      text-align: center;
      height:100%;
      .box{
        display:table-cell;
        vertical-align: middle;
      }
      .header{
        position: relative;
        margin: 0 auto;
        width:280px;
        height: 50px;
        background-color: #ae2627;
        font-size: 15px;
        letter-spacing: -0.2px;
        text-align: center;
        color:#fff;
        line-height: 50px;
        .btn_close{
          position:absolute;
          top:15px;
          right:15px;
          width:16px;
          height:20px;
          background: url("/static/img/icon/btn_close@2x.png") 0 0 no-repeat;
          background-size: 16px 20px;
          font-size: 0;
        }
      }
      .content{
        margin:0 auto;
        padding-bottom:20px;
        width:280px;
        background-color:#fff;
        em.txt{
          display:block;
          padding: 18px 0 0;
          font-size: 16px;
          letter-spacing: -0.3px;
          text-align: center;
        }
        p{
          margin-top:4px;
          font-size: 14px;
          letter-spacing: -0.2px;
          color:#000;
        }
      }
    }
    .star_guide{
      position: relative;
      margin-top:16px;
      padding: 0 20px;
      text-align: left;
      .bg_star{
        position:relative;
        display:block;
        width:78px;
        height:14px;
        background: url("/static/img/icon/star-0@2x.png") no-repeat 0 0;
        background-size: 78px 14px;
      }
      .star{
        display:inline-block;
        margin-left:2px;
        width:14px;
        height:14px;
        background: url('/static/img/icon/icon-star-detail-1@2x.png') no-repeat 0 0;
        background-size: 14px 14px;
        vertical-align: top;
        font-size: 0;
        &:first-child{
          margin-left:0;
        }
      }
    }
    .dimmed{
      position: fixed;
      z-index: 10000;
      width:100%;
      top:0;
      bottom:0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
</style>
