<template>
  <div id="app">
    <userinfo-sidebar></userinfo-sidebar>
    <router-view/>
    <footer-comp v-if="isShow()"></footer-comp>
    <star-guide></star-guide>
  </div>
</template>

<script>
import firebase from 'firebase'
import { EventBus } from '@/store/eventBus'
import UserInfoSidebar from '@/pages/components/Sidebar'
import Footer from '@/pages/components/Footer'
import Guide from '@/pages/components/StarGuide'

export default {

  name: 'App',

  components : {
    'userinfo-sidebar': UserInfoSidebar,
    'footer-comp' : Footer,
    'star-guide' : Guide
  },

  methods : {
    isShow (){
      return this.$route.path.split('/').every(value=>{
        return value !== 'admin';
      });
    }
  }
}
</script>

<style lang="scss">
html,body{
  width:100%;
}
body{
  background-color: #e9ecef;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height:100%;
  min-width:320px;
}
[lazy=loading] {
  background-size: 50px 50px !important;
  background-repeat: no-repeat !important;
}

img[lazy=loading] {
  position: absolute !important;
  width:50px !important;
  height:50px !important;
  top: 50% !important;
  left: 50% !important;
  margin: -25px 0 0 -25px !important;
  border:none !important;

}

</style>
