<template>
	<h1>test footer</h1>
</template>

<script>
// export default {
// 	data() {
// 		return {
// 			message: 'xxx'
// 		}
// 	}
// }
</script>

<style lang="scss" scoped>
h1 {
	border: 1px solid green;
}
</style>
