<template>
	<div id="app">
		<div v-if="isMain"><img src="./assets/logo.png"></div>
		<div class="link">
			<ol>
				<li><router-link to="/">main</router-link></li>
				<li><router-link to="/test">test</router-link></li>
			</ol>
		</div>
		<router-view/>

		<button v-on:click="isToggle">toggle</button>
		<div v-show="isShow"><img src="./assets/me.jpg" width="200" height="200"></div>
	</div>
</template>

<script>
export default {
	name: 'App',
	data () {
		return {
			// isMain: true,
			// isShow: true
		}
	},
	// methods: {
	// 	isMain: function () {
	// 		return true
	// 	}
	// },
	methods: {
		isToggle: function () {
			// isShow ? true : false
		}
	}
	// created () {
	// 	if (this.$route.meta.doLog) {
	// 		alert('hello')
	// 	}
	// }
}
</script>

<style lang="scss" scoped>
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
}
</style>
