<template>
	<div id="app">
		<img src="./assets/me.jpg" width="200" height="200" />
		<TodoHeader></TodoHeader>
		<TodoInput v-on:addTodo="addTodo"></TodoInput>
		<TodoList v-bind:propsdata="todoItems" v-on:removeTodo="removeTodo"></TodoList>
		<TodoFooter v-on:removeAll="clearAll"></TodoFooter>
	</div>
</template>

<script>
	import TodoHeader from './components/TodoHeader.vue'
	import TodoInput from './components/TodoInput.vue'
	import TodoList from './components/TodoList.vue'
	import TodoFooter from './components/TodoFooter.vue'
	export default {
		data: function() {
			return {
				todoItems: []
			}
		},
		created() {
			if (localStorage.length > 0) {
				console.log('localStorage is');
				for (var i=0; i < localStorage.length; i++) {
					this.todoItems.push(localStorage.key(i));
				}
			}
		},
		methods: {
			addTodo: function(tItem) {
			// addTodo () { 의 함축형으로 사용 가능
				localStorage.setItem(tItem, tItem);
				this.todoItems.push(tItem);
			},
			removeTodo: function(tItem, index) {
				console.log(tItem, index);
				localStorage.removeItem(tItem);
				this.todoItems.splice(index, 1);
			},
			clearAll: function() {
				console.log('clear all');
				localStorage.clear();
				this.todoItems = [];
			}
		},
		components: {
			'TodoHeader' : TodoHeader,
			'TodoInput' : TodoInput,
			'TodoList' : TodoList,
			'TodoFooter' : TodoFooter
		}
	}
</script>

<style lang="css">
body {
	text-align: center;
	background-color: #f6f6f6;
	/* margin: 0; */
	/* padding: 0; */
}
input {
	border-style: groove;
	width: 200px;
}
button {
	border-style: groove;
}
.shadow {
	box-shadow: 5px 10px 10px rgba(0,0,0, 0.15);
}
</style>

