<template>
  <section class="city_list_wrap">
    <common-header :title="sCityName"></common-header>
    <filter-main :selectedCity="sCityName"></filter-main>
    <div class="list_content" v-if="aCity.length !== 0">
      <ul>
        <li v-for="(value, index) in aCity">
          <router-link :to="{name:'Detail', params: { res_pk: value.pk }}">
            <span class="bg_img" v-lazy:background-image="value.data.list_image[0].convert_url"></span>
            <div class="info">
              <span class="f_name">{{ value.data.foreign_name }}</span>
              <span class="name">{{ value.data.name }}</span>
              <!--<span class="city">{{ value.data.city }}</span>-->
              <div class="tag_area">
                <span class="tag" v-for="(value, key) in value.data.tags_kind">{{key}}</span>
              </div>
              <div class="tag_area">
                <span class="tag" v-for="(value, key) in value.data.tags_city">{{key}}</span>
              </div>
              <span class="rating">
                <span class="bg_star">
                  <span class="star" v-for="star in value.data.rating"></span>
                </span>
              </span>
            </div>
          </router-link>
        </li>
      </ul>
    </div>
    <div class="nothing" v-else>
      <p>{{sListState}}</p>
    </div>
  </section>
</template>

<script>
  import { db } from '@/config/firebaseInit'
  import { EventBus } from '@/store/eventBus'

  import "imports-loader?$=jquery!../../static/js/lib/jquery-ui.min.js";
  import "imports-loader?$=jquery!../../static/js/lib/shapeshift.js";

  import Header from '@/pages/components/Header'
  import FilterMain from '@/pages/components/FilterMain'

  export default {
    name : 'CityList',
    components : {
      'common-header' : Header,
      'filter-main' : FilterMain
    },
    data() {
      return {
        aCity : [],
        sListState : '로딩중...',
        sCityName : this.$route.params.city
      }
    },
    methods :{
      initData () {
        let resRef = db.collection('restaurants').where('city', '==', this.sCityName);
        this.aCity = [];
        resRef.get().then((result)=>{
          if( result.size === 0){
            this.$router.push('/')
          } else {
            result.forEach(doc=>{
              // console.log(doc);
              this.aCity.push({ pk: doc.id, data:doc.data() });
            })

          }
        })
      }
    },

    beforeMount () {
      this.initData();

    },
    mounted () {
      EventBus.$on('filterResult', (doc)=>{
        this.aCity = doc;
      });
      EventBus.$on('resetList', ()=>{
        this.initData();
      });
    },
    updated () {
      $('.list_content ul').shapeshift({
        align: "center",
        enableDrag: false,
        enableCrossDrop: false,
      });
    }

  }
</script>

<style lang="scss" scoped>
.city_list_wrap{
  background-color:#fff;
  .header{
    position: relative;
  }
  .main_filter{
    border-top:1px solid rgba(0,0,0,.3);
    padding:10px 20px 0;

  }
}
.list_content{
  padding:0 0 20px;
  ul{
    position: relative;
    width:100%;
    li{
      position:absolute;
      width:162px;

      border-radius: 2px;
      background-color: #ffffff;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      .bg_img{
        display:block;
        width:162px;
        height: 90px;
        background: no-repeat 50% 50% ;
        background-size: 162px;
      }
      .info{
        padding:8px 10px 12px;
      }
      .city, .name, .rating,.f_name, .tag_area{
        display:block;
        color:#000;
      }

      .f_name{
        display:block;
        font-size: 11px;
        font-weight: bold;
        letter-spacing: -0.2px;
      }
      .tag_area{
        display:block;
        .tag{
          display: inline-block;
          margin-right:5px;
          font-size: 10px;
          &:before{
            content:'#';
            display:inline-block;
          }
          &:first-child{
            margin-left:0;
          }
        }
      }

      .city{
        font-size: 10px;
        font-weight: bold;
        letter-spacing: -0.2px;
      }

      .name{
        margin-top:5px;
        font-size: 16px;
        letter-spacing: -0.2px;
      }

      .rating{
        margin-top:5px;
        .bg_star{
          position:relative;
          display:block;
          width:78px;
          height:14px;
          background: url("/static/img/icon/star-0@2x.png") no-repeat 0 0;
          background-size: 78px 14px;
        }
        .star{
          display:inline-block;
          margin-left:2px;
          width:14px;
          height:14px;
          background: url('/static/img/icon/icon-star-detail-1@2x.png') no-repeat 0 0;
          background-size: 14px 14px;
          vertical-align: top;
          font-size: 0;
          &:first-child{
            margin-left:0;
          }
        }
      }
    }
  }
}
  @media all and (max-width: 374px) {
    .list_content{
      ul{
        li{
          width:135px;
          .bg_img{
            width:135px;
            background-size: 135px;
          }
        }
      }
    }
  }
</style>
