<style lang="scss">
.detail_wrap{
  position: relative;
  button.btn_back{
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 1000;
    width:24px;
    height:30px;
    background: url('/static/img/icon/icon-back@2x.png') no-repeat 50% 50%;
    font-size: 0;
    background-size: 24px 30px;
  }
}
.detail_content{
  position: relative;
  .detail_image{
    position: relative;
    &:before{
      content:'';
      z-index: 900;
      position: absolute;
      display:block;
      width:100%;
      height:80px;
      background:url('/static/img/icon/image-filter-top@2x.png') repeat-x 0 0;
      background-size: 375px 70px;
    }

    &:after{
      content:'';
      z-index: 900;
      position: absolute;
      bottom:3px;
      display:block;
      width:100%;
      height: 80px;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(49, 49, 49, 0.8));
    }
    .slick-list{
      z-index: 10;
    }
  }
  .image_area{
    z-index: 100;
    position: relative;
    height:280px;
    .bg_image{
      position: absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
      display:block;
      width:100%;
      height:100%;
      background-size:cover;
      background-position: 50% 50%;
    }
  }

  .detail_area{
    position: relative;
    padding:10px 20px;
    background-color:#fff;

    .lnk_map{
      top:-35px;
      right:20px;
      z-index: 901;
      position: absolute;
      font-size: 0;
      width:70px;
      height:70px;
      background: url('/static/img/icon/icon-map@2x.png') no-repeat 0 0;
      background-size: 70px 70px;
    }

    .tags_kind{
      z-index: 901;
      position:absolute;
      top:-37px;
      left:22px;
      .tag{
        display: inline-block;
        margin-left:5px;
        font-weight: bold;
        letter-spacing: -0.2px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        font-size: 15px;
        color:#fff;
        &:before{
          content:'#';
          display:inline-block;
          font-weight: bold;
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

        }
      }
    }

    .res_name {
      display:block;
      margin-top:15px;
      font-weight: bold;
      font-size: 26px;
      letter-spacing: -0.4px;
    }
    .name_sub{
      display:block;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: -0.3px;
    }

    .info{
      display:block;
      margin:20px 0 20px -20px;
      .row{
        overflow: hidden;
        display:block;
        margin-top:12px;
        .tit{
          display:block;
          float: left;
          width:68px;
          text-align: center;
          opacity: 0.6;
          font-size: 14px;
          letter-spacing: -0.2px;
        }
        .txt{
          overflow: hidden;
          display:block;
          font-size: 14px;
          letter-spacing: -0.2px;
          >span{
            display:inline-block;
            vertical-align: top;
          }

          .tag{
            display:inline-block;
            margin-left:5px;
            vertical-align: top;
            &:before{
              content:'#';
              display:inline-block;
            }
          }

          .desc{
            margin-top:-1px;
            line-height: 1.43;
          }
        }
        textarea{
          border:0;
          resize: none;
          box-sizing: border-box;
          width:100%;
          height:100%;
        }
      }
    }

    .res_rating{
      display:block;
      margin-top:8px;
      font-size: 14px;
      .bg_star{
        position:relative;
        display:block;
        width:78px;
        height:14px;
        background: url("/static/img/icon/star-0@2x.png") no-repeat 0 0;
        background-size: 78px 14px;
      }
      .star{
        display:inline-block;
        margin-left:2px;
        width:14px;
        height:14px;
        background: url('/static/img/icon/icon-star-detail-1@2x.png') no-repeat 0 0;
        background-size: 14px 14px;
        vertical-align: top;
        font-size: 0;
        &:first-child{
          margin-left:0;
        }
      }
    }

  }

}
</style>

<template>
  <section class="detail_wrap">
    <!--<common-header :title="resInfo.name"></common-header>-->
    <div class="detail_content" v-if="isLoadComplete">
      <button type="button" class="btn_back" @click="$router.go(-1)">뒤로가기</button>
      <slick ref="slick" :options="slickOptions" class="detail_image">
        <div class="image_area" v-for="item in resInfo.list_image" :id="item.id">
          <span class="bg_image" v-bind:style="{backgroundImage : 'url(' + item.convert_url + ')'}"></span>
        </div>
      </slick>
      <like-button :resPk="resPk"></like-button>
      <div class="detail_area">
        <div class="tags_kind">
          <span v-for="(value, key) in resInfo.tags_kind" class="tag">{{key}}</span>
        </div>
        <a :href="resInfo.map_url" target="_blank" class="lnk_map">구글맵 보기</a>
        <span class="res_rating">
          <span class="bg_star">
            <span class="star" v-for="value in resInfo.rating"></span>
          </span>
          <!--{{ resInfo.rating }}-->
        </span>
        <em class="res_name">{{ resInfo.name }} </em>
        <span class="name_sub">{{ resInfo.foreign_name }}</span>

        <div class="info">
          <div class="row">
            <span class="tit">후기</span>
            <span class="txt"><span class="desc">{{resInfo.description}}</span></span>
          </div>
          <div class="row">
            <span class="tit">지역</span>
            <span class="txt">
              <span class="city">{{resInfo.city}}</span>
              <span v-for="(value, key) in resInfo.tags_city" class="tag">{{key}}</span>
            </span>
          </div>
          <div class="row">
            <span class="tit">주소</span>
            <span class="txt">
              <span class="address">{{ resInfo.address }}</span>
            </span>
          </div>
        </div>
        <!--<span class="res_desc">{{ resInfo.description }}</span>-->
      </div>
      <googlemap-detail :map_url="resInfo.map_url"></googlemap-detail>
    </div>
    <div v-else>
      <h2>로딩중...</h2>
    </div>
  </section>
</template>

<script>
  import { db } from '@/config/firebaseInit'

  import Header from '@/pages/components/Header'
  import LikeButton from '@/pages/components/LikeButton'
  import GoogleMap from '@/pages/components/GoogleMap'

  import '../../node_modules/slick-carousel/slick/slick.css';
  import Slick from 'vue-slick';

  export default {
    name : 'Detail',
    components : {
      'common-header': Header,
      'like-button' : LikeButton,
      'googlemap-detail' : GoogleMap,
      Slick,
    },

    data () {
      return {
        isLoadComplete : false,
        resInfo : {},
        resPk : this.$route.params.res_pk,

        slickOptions : {
          // prevArrow :'<button type="button" class="slick-prev">&lsaquo;</button>',
          // nextArrow :'<button type="button" class="slick-next">&rsaquo;</button>',
          arrows: false,
          autoplay : true
        },

      }
    },

    methods : {

      reInit() {
        // Helpful if you have to deal with v-for to update dynamic lists
        this.$nextTick(() => {
          this.$refs.slick.reSlick();
        });
      },

    },

    beforeMount () {
      let resRef = db.collection('restaurants').doc(this.$route.params.res_pk);
      resRef.get().then((result)=>{
        this.resInfo = result.data();
      }).then(()=>{
        this.isLoadComplete = true;
      })

    },


    beforeUpdate() {
      if (this.$refs.slick) {
        this.$refs.slick.destroy();
      }

    },
    updated() {
      if (this.$refs.slick && !this.$refs.slick.$el.classList.contains('slick-initialized')) {
        this.$refs.slick.create();
      }
    },

  }
</script>
