<template>
  <section class="main">
    <common-header></common-header>
    <select-city></select-city>
    <like-res v-if="getLoginState"></like-res>
    <recent-res></recent-res>
  </section>
</template>

<script>
import Header from './components/Header'
import SelectCity from './components/SelectCity'
import RecentRes from './components/RecentRest'
import LikeRes from './components/LikeRes'

import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Main',

  computed : mapGetters({
    getLoginState : 'getLoginState'
  }),

  components : {
    LikeRes,
    'common-header': Header,
    'select-city' : SelectCity,
    'recent-res' : RecentRes,
    'like-res' : LikeRes
  },

  data () {
    return {
      oList : [],
      isLoading : true
    }
  },



}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

h2{
  margin-top:20px;
  margin-left:20px;
}
ul.lst_res {
  list-style-type: none;
  padding: 0 20px 20px;

  li {
    display:block;
    margin-top:20px;
    border:1px solid;
    border-color: $MAIN_COLOR;
    span{
      display:block;
      margin-top:5px;
    }
    .hash{
      span{
        display:inline-block;
        margin-right:5px;
      }
    }
  }
}

a {
  color: #42b983;
}
.main{
  width:100%;
}
.loading{
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  display:table;
  .cell{
    display:table-cell;
    width:100%;
    text-align:center;
    vertical-align: middle;
    img{
      display:block;
      margin: 0 auto;
    }
    .txt{
      font-size: 18px;
    }
  }
}
</style>
