<template>
	<h1>test page</h1>
	<!-- <router-view name="header"></router-view>
	<router-view name="body"></router-view>
	<router-view name="footer"></router-view> -->
</template>

<script>
// import header from './route/headerTest.vue'
// import body from './route/bodyTest.vue'
// import footer from './route/footerTest.vue'

export default {
  // methods : {
  //   isMain: function() {
  //     return false
  //   }
  // }
}
</script>

<style scoped>
h1 {
	background-color: coral;
}
</style>
